@font-face {
	font-family: 'Bebas Neue Book';
	src: url('fonts/hinted-BebasNeueBook.eot');
	src: url('fonts/hinted-BebasNeueBook.eot?#iefix') format('embedded-opentype'),
		url('fonts/hinted-BebasNeueBook.woff') format('woff'),
		url('fonts/hinted-BebasNeueBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/hinted-BebasNeueRegular.eot');
	src: url('fonts/hinted-BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('fonts/hinted-BebasNeueRegular.woff') format('woff'),
		url('fonts/hinted-BebasNeueRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/hinted-BebasNeueBold.eot');
	src: url('fonts/hinted-BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/hinted-BebasNeueBold.woff') format('woff'),
		url('fonts/hinted-BebasNeueBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
