/*
	Grid system based off: Simple Grid (http://thisisdallas.github.com/Simple-Grid/) by Dallas Bass
*/

[class*='col-'], .container, .container:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

[class*='col-'] {
	float: left;
  	min-height: 1px;
	padding-right: 20px; /* column-space */
}

.row.thin [class*='col-'] {
	float: left;
  	min-height: 1px;
	padding-right: 5px; /* column-space */
	padding-bottom: 5px;
}

.container.no-pad [class*='col-'] {
	padding-right: 0;
}

[class*='col-'] [class*='col-']:last-child {
	padding-right: 0;
}

.container {
	width: 940px;
	margin: 0 auto;
	overflow: hidden;
}

.container:after,
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Content Columns */
.col-1 { width: 8.33%; }
.col-2 { width: 16.667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.333%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

/* Pushing blocks */
.push-1 { margin-left: 8.33%; }
.push-2 { margin-left: 16.667%; }
.push-3 { margin-left: 25%; }
.push-4 { margin-left: 33.33%; }
.push-5 { margin-left: 41.66%; }
.push-6 { margin-left: 50%; }
.push-7 { margin-left: 58.33%; }
.push-8 { margin-left: 66.66%; }
.push-9 { margin-left: 75%; }
.push-10 { margin-left: 83.333%; }
.push-11 { margin-left: 91.66%; }

/* Responsive Media Queries */

@media handheld, only screen and (max-width: 979px) {
	.container {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px; /* grid-space to left */
		padding-right: 20px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
	}

	[class*='col-'] {
		width: auto;
		float: none;
		margin: 10px 0;
		padding-left: 10px;
		padding-right: 10px; /* column-space */
	}

	[class*='col-'] [class*='col-'] {
		padding-right: 0;
	}

	/* Mobile Layout */

	[class*='col-sm-'] {
		float: left;
		margin: 0 0 10px;
		padding-left: 0;
		padding-right: 10px; /* column-space */
		padding-bottom: 0;
	}

	.col-sm-1 { width: 8.33%; }
	.col-sm-2 { width: 16.667%; }
	.col-sm-3 { width: 25%; }
	.col-sm-4 { width: 33.33%; }
	.col-sm-5 { width: 41.66%; }
	.col-sm-6 { width: 50%; }
	.col-sm-7 { width: 58.33%; }
	.col-sm-8 { width: 66.66%; }
	.col-sm-9 { width: 75%; }
	.col-sm-10 { width: 83.333%; }
	.col-sm-11 { width: 91.66%; }
	.col-sm-12 { width: 100%; }

	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
}